.bus-analytics-page {
  padding: 1rem 2rem;
}

.filters {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  mat-form-field {
    min-width: 150px;
  }
}

.table-container {
  overflow: auto;
  max-height: calc(100vh - 200px);

  table {
    width: 100%;
  }
}
